.attestation-container {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem;
}

.attestation-input {
  width: 350px;
  height: fit-content;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px 16px 30px;
  font-weight: 300;
}

input.checked {
  accent-color: rgb(7, 156, 7);
}