input.checked {
  accent-color: rgb(7, 156, 7);
}

.deal-content {
  border-radius: 0.5rem;
  border: 0.2rem solid rgb(238, 235, 235);
  margin: 1rem 4rem 4rem;
  padding: 0rem 3rem 2rem;
}

.deal-info {
  display: flex;
  justify-content: space-between;
}

.checked {
  border-radius: 0.5rem;
  border: 0.2rem solid green;
  padding: 0.5rem;
  font-size: 2rem;
}

.unchecked {
  border-radius: 0.5rem;
  border: 0.2rem solid red;
  padding: 1rem;
  font-size: 2rem;
  color: rgb(212, 210, 210);
  cursor: pointer;
}

.attestation-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.attestation-form {
  width: 42%;
  height: fit-content;
  background-color: rgb(238, 235, 235);
  border-radius: 8px;
  padding: 0 1rem 1rem;
}

.sentiments {
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0 1rem 2rem ;
}