a:link {
    text-decoration: none;
}

a:visited {
    color: blue;
}

button {
    border: 0.15rem blue solid;
    border-radius: 0.3rem;
    color: blue;
    padding: 0.8rem 0.5rem;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 63% 37%;
    margin: 2rem 5rem 0;
}

.app-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    padding-top: 0.5rem;
    padding-right: 37%;
}

.epoch-info {
    padding-top: 0.7rem;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 0.5rem;
}

.toast {
  background-color: blue;
  color: white;
}

.header-toast {
  position: fixed;
  top: 5%;
}

@media only screen and (max-width: 950px) {
    .header {
        /* display: flex;
        justify-content: space-between; */
        grid-template-columns: 65% 35%;
        margin: 1rem;
    }

    .app-title {
        font-size: 3.5rem;
        padding-right: 0;
    }

    .header-buttons {
        margin-top: 1rem;
    }

    .actions {
        flex-direction: column;
        align-items: end;
        padding-top: 1rem;
    }

    button {
        padding: 0.5rem 0.8rem;
        width: 100%;
    }

    .header-toast {
      top: 15%;
    }
}
