a:link {
  text-decoration: none;
}

a:visited {
  color: blue;
}

button {
  border: 0.15rem blue solid;
  border-radius: 0.3rem;
  color: blue;
  padding: 0.8rem 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 5rem 0;
}

.app-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

.actions {
  display: flex;
  align-items: center;
}
