a:link {
    text-decoration: none;
}

a:visited {
    color: blue;
}

button {
    border: 0.15rem blue solid;
    border-radius: 0.3rem;
    color: blue;
    padding: 0.8rem 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: 33% 25% 42%;
    margin: 2rem 5rem 0;
}

.app-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    padding-top: 0.5rem;
}

.epoch-info {
    padding-top: 0.7rem;
}

.actions {
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 950px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .app-title {
    font-size: 3.5rem;
  }

  .header-buttons {
    margin-top: 1rem;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    padding-top: 0.7rem;
  }

  button {
    font-size: 1.5rem;
    padding: 0.5rem 0.8rem;
    margin-left: 0;
  }
}
