.detail-content {
    padding: 1rem;
    color: black;
}

.detail-container {
    display: flex;
    flex-direction: row;
}

.listing-detail {
    font-family: 'Times New Roman', Times, serif;
    width: 70%;
    margin-right: 2rem;
}

.detail-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.detail-description {
    max-height: 7rem;
    overflow: scroll;
}

.detail-score {
    display: flex;
    width: 100%;
}

.detail-tooltip {
    padding: 0.5rem 0.2rem 0 0;
}

.trust-item {
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 231, 231);
    border-radius: 0.3rem;
    border: 1px solid rgb(191, 190, 190);
    width: 100%;
    text-align: center;
    margin: 0.2rem 0;
    padding: 0.3rem 0.8rem;
}

.offers-container {
    margin: 2rem 4rem;
    width: 85%;
}

.offer-scroll {
    background-color: rgb(248, 246, 246);
    border-radius: 0.4rem;
    border: 2px solid rgb(238, 235, 235);
    height: 8rem;
    overflow: scroll;
    margin: 0.1rem 0rem 1.2rem 0.5rem;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
}

.offer {
    display: flex;
    align-items: center;
}

.offer-amount {
    color: blue;
    font-size: 1rem;
    font-weight: 700;
    width: 3rem;
}

.offer-score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.3rem;
    border: 1px solid rgb(218, 217, 217);
    width: 4rem;
    text-align: center;
    margin: 0.1rem;
    padding: 0.3rem 0;
    font-weight: 600;
    font-size: 0.8rem;
}

.offer-accepted {
    background-color: green;
    border-color: green;
    color: white;
    padding: 0.2rem 0.7rem;
    font-size: 0.75rem;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 950px) {
    .action-bar {
        padding: 0 0 2rem;
    }

    .detail-container {
        flex-direction: column;
    }

    .listing-detail {
        width: 100%;
        margin-right: 0rem;
    }

    .detail-description {
        max-height: 8rem;
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .detail-score {
        justify-content: center;
        font-size: 1rem;
    }

    .offers-container {
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .offer-scroll {
        margin: 0rem;
    }
}
