.listing-item {
  display: grid;
  grid-template-columns: 17% 68% 15%;
  align-items: center;
  background-color: rgb(235, 232, 232);
  border-radius: 0.5rem;
  margin: 1.5rem 2rem 0.5rem 0;
}

.listing-expired {
  display: grid;
  grid-template-columns: 17% 68% 15%;
  align-items: center;
  background-color: rgb(230, 228, 228);
  border-radius: 0.5rem;
  border: solid 1px rgb(98, 97, 97);
  margin: 1.5rem 2rem 0.5rem 0;
  opacity: 35%;
}

.listing-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.thumbnail {
  border-radius: 0.3rem;
  border: 1rem solid rgb(235, 232, 232);
  background-color: white;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-items: center;
  color: rgb(228, 230, 232);
  font-size: 2rem;
}

.score-container {
  display: flex;
  justify-items: right;
}

.score-item {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid rgb(218, 217, 217);
  text-align: center;
  margin: 0.1rem;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}