.listings {
  margin: 1.5rem 1.5rem 0.7rem 2rem;
}

.listing-item {
  display: grid;
  grid-template-columns: 17% 65% 18%;
  align-items: center;
  background-color: rgb(235, 232, 232);
  border-radius: 0.5rem;
  margin-bottom: 0.8rem;
  padding-right: 0.2rem;
  cursor: pointer;
}

.listing-expired {
  display: grid;
  grid-template-columns: 17% 65% 18%;
  align-items: center;
  background-color: rgb(230, 228, 228);
  border-radius: 0.5rem;
  border: solid 1px rgb(98, 97, 97);
  margin-bottom: 0.8rem;
  padding-right: 0.2rem;
  opacity: 35%;
}

.listing-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.complete {
  font-size: 0.8rem;
  color: red;
  padding: 0.1rem 0 0 0.5rem;
}

.accepted {
  font-size: 0.8rem;
  color: green;
  padding: 0.1rem 0 0 0.5rem;
}

.listing-description {
  font-size: 0.7rem;
  height: 1.7rem;
  padding-right: 1.5rem;
  overflow: hidden;
}

.thumbnail {
  border-radius: 0.3rem;
  border: 1rem solid rgb(235, 232, 232);
  background-color: white;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-items: center;
  color: rgb(228, 230, 232);
  font-size: 2rem;
}

.score-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 1rem;
}

.score-item {
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid rgb(188, 187, 187);
  width: 2.5rem;
  text-align: center;
  margin: 0.1rem;
  padding: 0.5rem 0;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}