.detail-centered {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nested {
    width: 730px;
    height: auto;
    padding: 1.5rem;
    background: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.offer-content {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 60% 40%;
    color: blue;
}

.offer-container {
    width: 80%;
    background-color: rgb(212, 210, 210);
    border-radius: 0.4rem;
    margin: 1rem 0 1rem;
    padding: 1.2rem 1.5rem 0;
}

.offer-amount {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 3rem;
}

.offer-input {
    width: 100px;
    margin-left: 0.3rem;
}

.score-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 2.5rem 0;
}

.score-name {
    font-weight: 600;
    font-size: 0.8rem;
}

.reveal-container {
    display: flex;
    flex-direction: column;
    width: 7rem;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem 1rem;
}

.offer-epoch-key {
    font-size: 0.85rem;
    max-width: 180px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offer-buttons {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 950px) {
    .detail-centered {
        top: 40%;
    }

    .nested {
        width: 70vw;
    }

    .offer-content {
        align-items: center;
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 0;
    }

    .offer-container {
        width: 80%;
        margin: 1rem 0 1rem;
        padding: 1.2rem 1.5rem 0;
    }

    .offer-amount {
        padding: 0;
    }

    .offer-input {
        margin-bottom: 1.5rem;
    }

    .score-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }

    .icon-container {
        padding: 0 0.8rem 0.5rem;
    }

    .offer-buttons {
        align-items: center;
        margin-bottom: 1rem;
    }

    .offer-buttons p {
        font-size: 1rem;
    }

    .offer-epoch-key {
        max-width: 100%;
    }
}
