h3 {
    color: blue;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

h4 {
    color: blue;
    font-size: 1rem;
    font-weight: 200;
    margin: 0.1rem;
}

h5 {
    color: rgb(41, 40, 40);
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0.4rem;
    cursor: pointer;
}

li {
    color: rgb(41, 40, 40);
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0.4rem;
    cursor: pointer;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.dash-content {
    display: grid;
    grid-template-columns: 38% 1fr;
    column-gap: 1.5rem;
    padding: 1rem;
    margin: 1rem 12rem;
    align-items: start;
}

.stats-container {
    background-color: rgb(244, 241, 241);
    border-radius: 0.4rem;
    border: 2px solid rgb(218, 217, 217);
    padding: 0.25rem 1rem;
    display: grid;
    grid-template-rows: 1fr 10% 1fr;
}

.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-container {
    background-color: rgb(249, 246, 246);
    border-radius: 0.4rem;
    border: 2px solid rgb(238, 235, 235);
    height: 5.7rem;
    overflow: scroll;
    margin: 0.1rem 0rem 1.2rem 0.5rem;
    padding: 0.2rem 1rem;
}

.score-detail {
    color: blue;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.2rem 0 0.8rem;
}

.stat {
    font-weight: 600;
    color: black;
}

.transition {
    display: flex;
    align-items: center;
    margin: 1.2rem 0;
}

.line {
    background-color: blue;
    height: 0.1rem;
    width: 100%;
}

.dash-toast {
  width: 100%;
  position: fixed;
  top: 50%;
}

@media only screen and (max-width: 950px) {
    .dash-content {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        row-gap: 2.5rem;
        padding: 0rem;
        margin: 2rem 1rem 3rem;
    }

    .stats-container {
        padding: 0.25rem 0.5rem;
    }

    .score-detail {
        color: blue;
        font-size: 1.2rem;
        padding: 0.3rem 0.2rem 0 0.2rem;
    }

    .scroll-container {
        background-color: rgb(249, 246, 246);
        border-radius: 0.4rem;
        border: 2px solid rgb(238, 235, 235);
        height: auto;
        overflow: scroll;
        margin: 0.1rem 0rem 1.2rem 0.5rem;
        padding: 0.2rem 1rem;
    }
}
