.tooltip-outer {
    position: relative;
}

.tooltip-popup {
    padding: 12px;
    background: blue;
    z-index: 10;
    position: absolute;
    border-radius: 8px;
    display: flex;
}

.tooltip-inner {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: white;
}
