.tooltip-outer {
    position: relative;
    cursor: pointer;
}

.tooltip-popup {
    padding: 1rem;
    background: blue;
    z-index: 10;
    position: absolute;
    border-radius: 0.5rem;
    display: flex;
}

.tooltip-inner {
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.2rem;
    color: white;
}
